body {
	font-family: "Roboto", sans-serif;
}

h2 {
	font-size: 40px;
}

p {
	font-size: 22px;
	line-height: 30px;
}
/************* UTILITIES *******/

/* TEXT ALIGN */

.t-a-left {
	text-align: left;
}

.t-a-center {
	text-align: center;
}

.t-a-right {
	text-align: right;
}

/* COLORS */

.bg-white {
	background: white;
}

.azure {
	color: #016dff;
}

.white {
	color: #fff;
}
.grey {
	color: #b8caff;
}

.dark-grey {
	color: #7e88a2;
}

.darker-grey {
	color: #6a7792;
}

.blue {
	color: #031c4e;
}
/* BORDER RADIUS */

.b-radius {
	border-radius: 5px;
}

/* VERTICAL ALIGN */

.vert-al-mid {
	vertical-align: middle;
}

/* HEIGHT */

.h-auto {
	height: auto;
}

/* UPPERCASE */

.up-case {
	text-transform: uppercase;
}
/********* STYLE  **************/

/* MAIN-HEADER */

section.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	height: 60px;
	line-height: 60px;
	color: #031c4e;
	z-index: 1;
}

section.main-header .col-xs-6 {
	height: 60px;
	line-height: 60px;
}

section.main-header .col-xs-6:first-child img {
	width: 150px;
	display: inline-block;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

section.main-header .menu-inline {
	display: none;
	vertical-align: -2px;
	font-size: 14px;
}

section.main-header .menu-inline li a i.fa-chevron-down {
	margin-left: 5px;
}

section.main-header .menu-inline.t-a-right li a i.fa-chevron-down {
	margin-left: 0px;
}

section.main-header .menu-inline li {
	margin-right: 10px;
}

section.main-header .menu-inline li a {
	display: none;
	color: #031c4e;
}

section.main-header .menu-inline li a i.fa-chevron-down {
	vertical-align: middle;
}

section.main-header .container .col-md-4 .menu-inline li:last-child {
	border: 1px solid #016dff;
	border-radius: 3px;
	line-height: 20px;
	padding: 5px;
	text-decoration: none;
	margin-right: 0px;
}

section.main-header .container .col-md-4 .menu-inline li:last-child a.btn-do {
	color: #016dff;
}
/* hamburger menu */
.main-header .container .col-xs-6:nth-child(2) {
}

.main-header .container .col-xs-6:nth-child(2) .fa-bars {
	display: inline-block;
	font-size: 20px;
	color: #016dff;
	vertical-align: middle;
}

/* HERO */

.hero {
	background-image: url(../img/bg-banner-home.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 120px;
	padding-bottom: 50px;
}

.hero .col-xs-12 .col-sm-7 {
	padding: 0;
}

.hero .col-xs-12:nth-child(2) {
	border-radius: 5px;
}

.hero .row:nth-child(2) {
	/* padding: 0px 15px; */
	display: inline-block;
}

.hero .container form input {
	border: 1px solid #eee;
	padding: 10px 5px 10px;
	margin-bottom: 5px;
}

.hero .container form input:first-child {
	border: 1px solid #eee;
	padding: 10px 5px 10px;
	margin-bottom: 5px;
}

.hero .container form input:nth-child(3) {
	padding: 5px 5px 5px;
	background: #579aff;
	color: white;
}

.hero .container form div.col-xs-12 {
	text-align: left;
	border: 1px solid #eee;
	margin-bottom: 10px;
	padding: 5px 5px 5px;
}

.hero .container form div.col-xs-12 a {
	text-decoration: none;
	color: #626262;
}

.hero .container form div.col-xs-12 img {
	width: 20px;
	height: 20px;
}

.hero .container form div.col-xs-12 .google {
	display: inline-block;
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.hero .container form p {
	font-size: 12px;
}

/* PARTNERS */

section.partners {
	background: #f3f5f9;
	padding: 50px 0px 50px;
}

section.partners h4 {
	margin-top: 0px;
}

section.partners .container {
	padding: 0px 50px 0px;
}

section.partners .container .col-xs-12 {
	padding: 0px 20px 0px;
}

section.partners .container .row .box img {
	height: 150px;
}

section.partners.container.row.box: img section.partners a.t-a-center i {
	vertical-align: 0px;
	font-size: 11px;
}

/* SCALING */

section.scaling h2 {
	font-size: 36px;
}

section.scaling p {
	font-size: 23px;
}

/* SAMPLES */

section.samples {
	background: #f3f5f9;
}

/* CUSTOMERS */

section.customers {
	background-image: linear-gradient(180deg, #0048c5, #001e99);
}

/* FEEDBACK */

section.feedback {
	background: #f3f5f9;
}

/* START */

section.start {
	background-image: linear-gradient(180deg, #0048c5, #001e99);
}

/* COPY */

section.copy {
	background: color: #031c4e;
}
