body {
	font-family: "Roboto", sans-serif;
}

h2 {
	font-size: 32px;
}

p {
	font-size: 22px;
	line-height: 30px;
}
/************* UTILITIES *******/

/* TEXT ALIGN */

.t-a-left {
	text-align: left;
}

.t-a-center {
	text-align: center;
}

.t-a-right {
	text-align: right;
}

/* PADDING */

.no-pad-lr {
	padding-left: 0px;
	padding-right: 0px;
}

/* MARGIN */

.marg-btm-10 {
	margin-bottom: 10px;
}

.marg-top-10 {
	margin-top: 10px;
}
/* COLORS */

.white {
	color: #fff;
}

.bg-white {
	background: white;
}

.azure {
	color: #016dff;
}

.bg-azure {
	background: #016dff;
}
.light-azure {
	color: #4ed5d1;
}

.grey {
	color: #b8caff;
}

.mid-dark-grey {
	color: #bbc9ea;
}

.dark-grey {
	color: #7e88a2;
}

.darker-grey {
	color: #6a7792;
}

.blue {
	color: #031c4e;
}

/* BORDER-COLORS */

.brd-bttm-white {
	border-bottom: 1px solid white;
}

/* BORDER RADIUS */

.b-radius {
	border-radius: 5px;
}

/* VERTICAL ALIGN */

.vert-al-mid {
	vertical-align: middle;
}

/* HEIGHT */

.h-auto {
	height: auto;
}

/* UPPERCASE */

.up-case {
	text-transform: uppercase;
}
/********* STYLE  **************/

/* MAIN-HEADER */

section.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	height: 60px;
	line-height: 60px;
	color: #031c4e;
	z-index: 1;
}

section.main-header .col-xs-6 {
	height: 60px;
	line-height: 60px;
}

section.main-header .col-xs-6:first-child img {
	width: 150px;
	display: inline-block;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

section.main-header .menu-inline {
	display: none;
	vertical-align: -2px;
	font-size: 14px;
}

section.main-header .menu-inline li a i.fa-chevron-down {
	margin-left: 5px;
}

section.main-header .menu-inline.t-a-right li a i.fa-chevron-down {
	margin-left: 0px;
}

section.main-header .menu-inline li {
	margin-right: 10px;
}

section.main-header .menu-inline li a {
	display: none;
	color: #031c4e;
}

section.main-header .menu-inline li a i.fa-chevron-down {
	vertical-align: middle;
}

section.main-header .container .col-md-4 .menu-inline li:last-child {
	border: 1px solid #016dff;
	border-radius: 3px;
	line-height: 20px;
	padding: 5px;
	text-decoration: none;
	margin-right: 0px;
}

section.main-header .container .col-md-4 .menu-inline li:last-child a.btn-do {
	color: #016dff;
}
/* hamburger menu */

.main-header .container .col-xs-6:nth-child(2) .fa-bars {
	display: inline-block;
	font-size: 20px;
	color: #016dff;
	vertical-align: middle;
}

/* HERO */

.hero {
	background-image: url(../img/bg-banner-home.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 120px;
	padding-bottom: 50px;
}

.hero .col-xs-12 .col-sm-7 {
	padding: 0;
}

.hero .col-xs-12:nth-child(2) {
	border-radius: 5px;
}

.hero .row:nth-child(2) {
	/* padding: 0px 15px; */
	display: inline-block;
}

.hero .container form input {
	border: 1px solid #eee;
	padding: 10px 5px 10px;
	margin-bottom: 5px;
}

.hero .container form input:first-child {
	border: 1px solid #eee;
	padding: 10px 5px 10px;
	margin-bottom: 5px;
}

.hero .container form input:nth-child(3) {
	padding: 5px 5px 5px;
	background: #579aff;
	color: white;
}

.hero .container form div.col-xs-12 {
	text-align: left;
	border: 1px solid #eee;
	margin-bottom: 10px;
	padding: 5px 5px 5px;
}

.hero .container form div.col-xs-12 a {
	text-decoration: none;
	color: #626262;
}

.hero .container form div.col-xs-12 img {
	width: 20px;
	height: 20px;
}

.hero .container form div.col-xs-12 .google {
	display: inline-block;
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.hero .container form p {
	font-size: 12px;
}

/* PARTNERS */

section.partners {
	background: #f3f5f9;
	padding: 50px 0px 50px;
}

section.partners h4 {
	margin-top: 0px;
}

section.partners .container {
	padding: 0px 50px 0px;
}

section.partners .container .col-xs-12 {
	padding: 0px 20px 0px;
}

section.partners .container .row .box img {
	height: 150px;
}

section.partners a.t-a-center i {
	vertical-align: 0px;
	font-size: 11px;
}

/* SCALING */

section.scaling h2 {
	font-size: 36px;
}

section.scaling p {
	font-size: 23px;
}

.scaling .row {
	padding: 50px 0px 40px;
}

.scaling .box-small {
	border-left: 2px solid #d2d2d2;
	padding: 5px;
	margin-bottom: 20px;
	font-size: 20px;
}

.scaling .box-small div {
	margin-bottom: 10px;
}

.scaling .box-small div:last-child {
	margin-bottom: 0px;
}

.scaling .col-xs-12 p {
	font-size: 18px;
	line-height: 20px;
}
/* SAMPLES */

section.samples {
	background: #f3f5f9;
	text-align: center;
	padding: 50px 0px 50px;
}

.samples h2 {
	margin-bottom: 20px;
}

.samples p.darker-grey {
	margin-bottom: 80px;
}

.samples .row .box {
	position: relative;
	padding: 0px 50px;
}

.samples .row img {
	margin-bottom: 20px;
}

.samples .row .box::before {
	font-size: 40px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f053";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-100%);
	color: #031c4e;
}

.samples .row .box::after {
	font-size: 40px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f054";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-100%);
	color: #031c4e;
}

.samples .row .box::before {
	left: -10px;
}

.samples .row .box::after {
	right: -10px;
}

.samples .row .box p {
	font-size: 14px;
	margin-bottom: 80px;
}

section.samples .dot {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

.samples .dot.empty {
	background: transparent;
	border: 2px solid #016dff;
}

/* FEATURES */

section.features {
	padding: 70px 0px 50px;
}

section.features h2 {
	font-size: 34px;
	margin-bottom: 40px;
}

section.features h3 {
	font-size: 22px;
}

section.features p {
	font-size: 18px;
	line-height: 22px;
}

section.features a {
	font-size: 18px;
}

section.features .col-xs-12 {
	margin-bottom: 30px;
}
/* CUSTOMERS */

section.customers {
	background-image: linear-gradient(180deg, #0048c5, #001e99);
	color: white;
}

section.customers h2 {
	margin-bottom: 30px;
}

.customers .row .table {
	margin-bottom: 40px;
}

.customers .container .row .col-xs-2,
.customers .container .row .col-xs-8 {
	padding-bottom: 10px;
	font-size: 12px;
}

/* FEEDBACK */

section.feedback {
	background: #f3f5f9;
}

section.feedback {
	background: #f3f5f9;
	text-align: center;
	padding: 50px 0px 80px;
}

.feedback h2 {
	margin-bottom: 80px;
}

.feedback p.darker-grey.t-a-center {
	margin-bottom: 20px;
}

.feedback .row .box {
	position: relative;
	padding: 30px 0px 30px;
	text-align: center;
	background-color: white;
	margin-bottom: 50px;
}

.feedback .row img {
	margin-bottom: 50px;
	width: 100%;
	max-width: 400px;
	margin: 0;
	position: relative;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.feedback .row .box::before {
	font-size: 40px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f053";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #031c4e;
}

.feedback .row .box::after {
	font-size: 40px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f054";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #031c4e;
}

.feedback .row .box::before {
	left: -45px;
}

.feedback .row .box::after {
	right: -45px;
}

.feedback .row .box p.t-a-center {
	font-size: 22px;
	margin-top: 20px;
}

.feedback .row .box h4 {
	font-size: 16px;
	margin-bottom: 0;
}

.feedback .row .box p {
	font-size: 16px;
}

.feedback .row .box a {
	font-size: 16px;
}

section.feedback .dot {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

.feedback .dot.empty {
	background: transparent;
	border: 2px solid #016dff;
}
/* START */

section.start {
	background-image: linear-gradient(180deg, #0048c5, #001e99);
	text-align: center;
	padding: 40px 0px 50px;
}

.start h2 {
	margin-bottom: 30px;
}

.start button {
	font-size: 16px;
}

/* COPY */

section.copy {
	background: #0e1b4e;
}

.copy .row {
	padding: 50px 0px 40px;
}

.copy img {
	margin-bottom: 10px;
}

.copy div {
	font-size: 16px;
	margin-bottom: 0px;
}

.copy div.darker-grey {
	margin-bottom: 10px;
}

.copy i {
	font-size: 20px;
	margin-right: 10px;
}

.copy i.fa-facebook-f {
	padding: 2px 2px 0px 5px;
	border-radius: 1px;
	background: #7e88a2;
	font-size: 16px;
	vertical-align: 1px;
}

.copy .row .col-md-4 {
	margin-bottom: 20px;
}

.copy a.dark-grey {
	display: block;
	margin-bottom: 5px;
}

.copy .row .col-md-8 .col-xs-12 {
	margin-bottom: 10px;
}

/* SHARK */

.chat {
	position: fixed;
	bottom: 50px;
	left: 50px;
	max-width: 70%;
	background: #ffffff;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	min-width: 170px;
}

.chat::after {
	content: " ";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: white;
	position: absolute;
	transform: translate(-50%, -50%);
	right: -5px;
	bottom: 10px;
	transform: rotate(45deg);
}

.shark {
	position: fixed;
	bottom: 125px;
	left: 50px;
	width: 60px;
	min-width: 50px;
	background: #016dff;
	padding: 10px 0px;
	border-radius: 5px;
	font-size: 16px;
}

.shark img {
	width: 100%;
}

.shark::after {
	content: "2";
	display: inline-block;
	width: 25px;
	height: 25px;
	color: white;
	border-radius: 50%;
	background: red;
	position: absolute;
	transform: translate(-50%, -50%);
	right: -20px;
	top: 7px;
	text-align: center;
	border: 5px solid white;
	font-size: 12px;
}
